h1{
	-webkit-hyphens: none;
	break-after: page;
	color: #FF9300;
	font-family: "Baskerville";
	font-size: 343.7500%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	page-break-after: always;
	text-align: right;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
h3{
	-webkit-hyphens: none;
	color: #FF9300;
	font-family: "Baskerville";
	font-size: 168.7500%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
p{
	margin: 0px;
}
sub{
	font-size: 67%;
	vertical-align: -10%;
}
sup{
	font-size: 67%;
	vertical-align: 33%;
}
.s1{
	-webkit-hyphens: none;
	color: #000000;
	font-family: "Baskerville";
	font-size: 150.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s2{
	text-align: right;
}
.s3{
	-webkit-hyphens: none;
	color: #FF9300;
	font-family: "Baskerville";
	font-size: 150.0000%;
	font-style: italic;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: -0.0200em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: right;
	text-indent: 0.0000%;
	text-transform: none;
}
.s4{
	-webkit-hyphens: none;
	color: #FF9300;
	font-family: "Baskerville";
	font-size: 150.0000%;
	font-style: italic;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: -0.0200em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: right;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s5{
	-webkit-hyphens: none;
	break-after: page;
	color: #FF9300;
	font-family: "Baskerville";
	font-size: 343.7500%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	page-break-after: always;
	text-align: right;
	text-indent: 0.0000%;
	text-transform: none;
}
.s6{
	-webkit-hyphens: none;
	color: #FF9300;
	font-family: "Baskerville";
	font-size: 168.7500%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s7{
	-webkit-hyphens: none;
	color: #000000;
	font-family: "Baskerville";
	font-size: 93.7500%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 1.3304%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: justify;
	text-indent: 0.0000%;
	text-transform: none;
	white-space: normal;
}
.s8{
	-webkit-hyphens: none;
	color: #000000;
	font-family: "Baskerville";
	font-size: 93.7500%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 1.3304%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: justify;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
	white-space: normal;
}
.s9{
	font-weight: bold;
}
.s10{
	-webkit-hyphens: none;
	color: #7F7F7F;
	font-family: "Baskerville";
	font-size: 112.5000%;
	font-style: italic;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 1.3304%;
	margin-top: 0.0000%;
	padding-left: 11.9734%;
	padding-right: 11.9734%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s11{
	font-style: italic;
}
.s12{
	-webkit-hyphens: none;
	color: #7F7F7F;
	font-family: "Baskerville";
	font-size: 112.5000%;
	font-style: italic;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 1.3304%;
	margin-top: 0.0000%;
	padding-left: 11.9734%;
	padding-right: 11.9734%;
	text-align: left;
	text-indent: 0.0000%;
	text-transform: none;
}
.s13{
	-webkit-hyphens: none;
	color: #FF9300;
	font-family: "Baskerville";
	font-size: 168.7500%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-transform: none;
}
.s14{
	-webkit-hyphens: none;
	color: #FF9300;
	font-family: "Baskerville";
	font-size: 125%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: none;
	letter-spacing: 0.0000em;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s15{
	-webkit-hyphens: none;
	color: #FF9300;
	font-family: "Baskerville";
	font-size: 100%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: none;
	letter-spacing: 0.0000em;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.c1{
	color: #FF9300;
}
.c2{
	font-family: "Times Roman";
	font-size: 66.6667%;
}
.c3{
	font-family: "Arial";
	font-size: 66.6667%;
	font-weight: bold;
}
.c4{
	font-style: italic;
	font-weight: bold;
}
