@font-face {
  font-family: "MyriadPro";
  src: local("../MyriadPro-Regular.woff"), url("../MyriadPro-Regular.woff");
}
  body {
    background-color: #444;
    font-family: "MyriadPro";
    
  }
  .fondo {
    height: 100vh;
    
   
   width: 100%;
   z-index: -3;
       
  }
    .cabecera {
      height: 60px;
      background-color: rgb(82, 86, 89);
      margin: 0;

    }
    .logo{margin-top: 30px;}
    .impacto{
      display: flex;
    }
    .flexible{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .boton{
      
      text-align: center;
      padding: 5px;
    }
    .boton-azul{
      color: white;
      background-color: #5aa4dd;
      border-color: white;
    }
    .mt10{
      margin-top: 10px;
    }
     .mt20{
      margin-top: 20px;
    } 
     .mt30{
      margin-top: 30px;
    }  
    .mt40{
      margin-top: 40px;
    }
    .mt15pc{
      margin-top: 15%;
    }
    .pie{
      position: relative;
      bottom: 0px;
    }
    .color-blanco{
      color: #FFF;
    }
    .modal-header {       
        border: none;
    }
.modal-content {
    
    background-color: #5aa3dd;
    color: white;
    opacity: .9;
   
    
    }
.modal-dialog {
    
   max-width: 320px;
   
    
    }
   .form-control , .form-control:hover , .form-control:focus , .form-control::placeholder {

    background: transparent;
    border: none;
    
    box-shadow: none;
    color: white;
    padding: 0px;
    font-size:14px;

}

 .form-control::placeholder {
   font-size: 10px;
   color: #2b78c3;
   
 }
 h4{
   font-size: 28px;
 }
 .modal-footer{
   border:none;
 }
 .categoria-azul{
   background-color: #00B7FF;
   
   color: #000 !important;
   text-decoration: none;
 }
 .categoria-azul:hover{
   
   text-decoration: none;
 }

 .categoria-amarillo{
   background-color: #967508;
   
 }
 .footer-estudio{
  width: 100%;
   background-color: #ba823c;
   color:white;
   padding:20px;
 }

 

input::placeholder { color: blue; }
input::-ms-input-placeholder { color: blue; } /* IE 10+ */ 
input::-webkit-input-placeholder { color: blue; } /* WebKit */
input::-moz-placeholder { color: blue; } /* Firefox 19+ */

label {
  font-weight: regular !important;
}
 