<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Listado</title>
</head>
<body>
<div id="app">
  {{ tema }}
  

  <pre>
  	{{$data}}
  </pre>

</div>	


<script src="js/vue.js"></script>
<script src="js/axios.js"></script>
<script>

var app = new Vue({
  el: '#app',
  data: {
    tema: 'Hello Vue!'
  }
})

</script>
</body>
</html>