<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Paginas</title>
<link rel="stylesheet" type="text/css" href="css/uikit.min.css">
<link rel="stylesheet" type="text/css" href="css/book.css">
<style type="text/css">
a.editor{
  text-decoration: none;
  color: #FFF;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  margin: 0;
  background-color: #000;
}
ul.editor{
  list-style: none;
  margin: 0;
  padding: 0;
}

/*textarea {display: none;}*/
/*input {letter-spacing: -99px;border: none;}*/
a.editor:hover{
  padding: 0 20px;text-align: left;
  background: #000;
}
/*li:hover input , textarea{
  letter-spacing: normal;
  border: 1px solid;
  display: inline;
}*/

.uk-icon>svg:nth-child(2) {display: none;}
</style>
</head>
<body>
<div  id ="app" uk-grid>
  <!-- modal titulo-->
  <div id="modal-titulo" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
          <button class="uk-modal-close-default" type="button" uk-close></button>
          <h2 class="uk-modal-title">Ingrese el titulo</h2>
          <p>
            <input type="text" v-model="titulos" class="uk-input"  @keyup="keyup_titulo()" @blur="resetear_valores()" @keyup.enter="enter_titulo()" > 

          </p>
      </div>
  </div>
   <!-- modal versiculi-->
  <div id="modal-versiculo" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
          <button class="uk-modal-close-default" type="button" uk-close></button>
          <h2 class="uk-modal-title">Ingrese el versiculo</h2>
          <p>
           <input type="text" v-model="versiculos" class="uk-input" @keyup="keyup_versiculo()" @blur="resetear_valores()" @keyup.enter="enter_versiculo()" >

          </p>
      </div>
  </div>
     <!-- modal versiculo-->
  <div id="modal-respuesta" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
          <button class="uk-modal-close-default" type="button" uk-close></button>
          <h2 class="uk-modal-title">Ingrese el versiculo</h2>
          <p>
           <input type="text" v-model="respuestas" class="uk-input" @keyup="keyup_respuesta()"  @blur="resetear_valores()" @keyup.enter="enter_respuesta" >
          </p>
      </div>
  </div>
       <!-- modal versiculo-->
  <div id="modal-negrita" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
          <button class="uk-modal-close-default" type="button" uk-close></button>
          <h2 class="uk-modal-title">Ingrese el texto</h2>
          <p>
           <input type="text" v-model="negritas" class="uk-input"   @keyup="keyup_negrita()"  @blur="resetear_valores()" @keyup.enter="enter_negrita" >
          </p>
      </div>
  </div>
         <!-- modal versiculo-->
  <div id="modal-parrafo" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
          <button class="uk-modal-close-default" type="button" uk-close></button>
          <h2 class="uk-modal-title">Ingrese parrafo</h2>
          <p>
         <textarea v-model="parrafos" class="uk-textarea" @keyup="keyup_parrafo()" @blur="resetear_valores()" @keyup.enter="enter_parrafo"></textarea>
          </p>
      </div>
  </div>
  
<div class="uk-width-1-4">
  <ul class="editor" >
    <li> <a class="editor" href="#modal-titulo" uk-toggle><span class="fa fa-font "> </span></a></li>
    <li> <a class="editor" href="#modal-versiculo" uk-toggle><span class="fa fa-book"> </span></a></li>
    <li> <a class="editor" href="#modal-respuesta" uk-toggle><span class="fa fa-edit"> </span></a></li>
    <li> <a class="editor" href="#modal-negrita" uk-toggle><span class="fa fa-bold"> </span></a> </li>
    <li> <a class="editor" href="#modal-parrafo" uk-toggle><span class="fa fa-align-justify "> </span></a></li>
    <li>
      <a class="editor" @click.prevent="borrar_contenido()"><span  class="fa  fa-trash" @click="borrar_contenido"></span></a>
    </li>
    <li>
      <a class="editor" @click.prevent="borrar_contenido()"><span  class="fa  fa-upload"></span></a>
    </li>
  </ul>
  <pre>{{$data}}</pre>
</div>
<div class="uk-width-3-4">
  <div id="contenido"></div>
</div>
</div>
<script src="vue.js"></script>
<script src="axios.js"></script>
<script src="js/uikit.js"></script>
<script src="js/uikit-icons.js"></script>
<script src="jquery-3.3.1.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script >
//UIkit.use(Icons);
$(document).ready(function() {
var app = new Vue({
el: '#app',
data: {
  pagina: "",
  titulos: "",
  versiculos: "",
  preguntas: "",
  respuestas: "",
  negritas: "",
  parrafos: "",
  contenido_temporal:"",
  contenido_guardado:""
},
mounted: function() {
  console.log("se monto el elemento de vue");
  var contenido = document.getElementById('contenido');
  


},
methods: {
  keyup_parrafo: function () {
    this.contenido_temporal= this.parrafos;
    contenido.innerHTML=this.contenido_guardado+this.contenido_temporal;
  },
   keyup_titulo: function () {
    this.contenido_temporal="<h1>" + this.titulos + "</h1>";
    contenido.innerHTML=this.contenido_guardado+this.contenido_temporal;

  },
   keyup_versiculo: function () {
    this.contenido_temporal="<i>" + this.versiculos + "</i>";
    contenido.innerHTML=this.contenido_guardado+this.contenido_temporal;
  },
   keyup_pregunta: function () {
    this.contenido_temporal= this.preguntas + "<input>";
    contenido.innerHTML=this.contenido_guardado+this.contenido_temporal;
  },
   keyup_respuesta: function () {
    this.contenido_temporal= "<input>";
    contenido.innerHTML=this.contenido_guardado+this.contenido_temporal;
  },
   keyup_negrita: function () {
    this.contenido_temporal= "<b>" + this.negritas + "</b>";
    contenido.innerHTML=this.contenido_guardado+this.contenido_temporal;
  },
  enter_parrafo: function () {
    this.contenido_guardado+= this.parrafos;
    this.contenido_temporal="";
    this.parrafos="";
    UIkit.modal("#modal-parrafo").hide();
      UIkit.notification({message: 'Parrafo guardado',timeout: 500});
  },
   enter_titulo: function () {
    this.contenido_guardado +="<h1>" + this.titulos + "</h1>";
    this.contenido_temporal="";
    this.titulos="";
    UIkit.modal("#modal-titulo").hide();
    UIkit.notification({message: 'Titulo guardado',timeout: 500});
    
  },
   enter_versiculo: function () {
    this.contenido_guardado+="<i>" + this.versiculos + "</i>";
    this.contenido_temporal="";
    this.versiculos="";
    UIkit.modal("#modal-versiculo").hide();
    UIkit.notification({message: 'Versiculo guardado',timeout: 500});
  },
   enter_pregunta: function () {
    this.contenido_guardado+= this.preguntas;
    this.contenido_temporal="";
    this.preguntas="";
    UIkit.modal("#modal-pregunta").hide();
    UIkit.notification({message: 'Pregunta guadada',timeout: 500});
  },
   enter_respuesta: function () {
    this.contenido_guardado+= "<input>";
    this.contenido_temporal="";
    this.respuestas="";
  },
   enter_negrita: function () {
    this.contenido_guardado+= "<b>" + this.negritas + "</b>";
    this.contenido_temporal="";
    this.negritas="";
    UIkit.modal("#modal-negrita").hide();
    UIkit.notification({message: 'Palabra guardada',timeout: 500});
  },
  resetear_valores: function(){
    this.pagina = "";
    this.titulos = "";
    this.versiculos = "";
    this.preguntas = "";
    this.respuestas = "";
    this.negritas = "";
    this.parrafos = "";
    this.contenido_temporal = "";
    contenido.innerHTML=this.contenido_guardado+this.contenido_temporal;
    console.log("reseteando");
  },

    borrar_contenido: function () {
      this.resetear_valores();
      
      this.contenido_guardado = "";
      contenido.innerHTML="";   
    },
      presiona_enter_guarda_contenido: function () {
          $("input, textarea").click(function(event) {
          
              alert()
            
          });
      }

}
})
});

</script>
</body>
</html>
