  body{overflow: hidden;}
  .carousel-caption {
  font-size: 14px;
  }
  p , li {
  text-align:left; 
  font-size:12px;
  color:black;
  }
  h3 , h4 , h5 , h2 {color:black}
  .carousel-caption {
  top :20px;
  text-shadow: none;
  }
  .carousel-indicators li{
  border-color: #000000;
  }
  .carousel-inner{
  overflow-y: auto;
  overflow-x: hidden;
  }
  .carousel-indicators li 
  {
  display: inline-block;
  width: 26px;
  height: 16px;
  margin: 0px;
  text-indent: 0px;
  cursor: pointer;
  text-align: center;
  }
  .carousel-indicators .active {
  width: 26px;
  height: 16px;
  margin: 0;
  background-color: white;
  }           
  .carousel-indicators {
  position: absolute;
  bottom: 0px;
  left: 0%;
  z-index: 15;
  width: 100%;
  padding-left: 0;
  margin-left: 0;
  text-align: center;
  list-style: none;
  margin: 0;
  background-color: rgba(127,127,127,.6);
  }          
  input {
  margin-top:10px;
  border:none !important;
  border-bottom: 1px solid !important;
  }
  input:focus, input:hover {
  margin-top:10px;
  border:none !important;
  border-bottom: 1px solid green !important;
  }